* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btns {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn {
  padding: 30px 25px;
  cursor: pointer;
  border: none;
  color: red;
  font-size: 20px;
  background-color: silver;
}
.btn_1 {
  color: white;
}
.btn_2 {
  color: #ffffff;
}
.btn_3 {
  color: white;
}
.btn_4 {
  color: white;
}
.btn_5 {
  color: white;
}
.btn_6 {
  color: white;
}
.btn_7 {
  color: white;
}
.btn_8 {
  color: white;
}
