*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btns{
display: grid;
grid-template-columns: auto auto auto auto;
justify-content: center;
align-items: center;
gap: 10px;
}
.btn{
    padding: 30px 25px;
    cursor: pointer;
    border: none;
    color: red;
    font-size: 20px;
}
.btn_1{
    background-color: black;
    color: white;
}
.btn_2{
    background-color: #E42597;
    color: white;
}
.btn_3{
    background-color: #BD3DD2;
    color: white;
}
.btn_4{
    background-color: #F11F1E;
    color: white;
}
.btn_5{
    background-color: #56DB41;
    color: white;
}
.btn_6{
    background-color: #4000F4;
    color: white;
}
.btn_7{
    background-color: #EFA9A9;
    color: white;
}
.btn_8{
    background-color: #C20677;
    color: white;
}